:root {
    --bg-color: #d9cdf7;

    --text-color: #271a45;

    font-size: 62.5%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-color);

    display: grid;
    place-content: center;
}

body * {
    color: var(--text-color);

    font-family: "Lato", sans-serif;
    line-height: 100%;
}

html.animated button#btn-360, html.animated img#static {
    display: none;
}

html.animated button#btn-close, html.animated img#animated {
    display: initial;
}

h1 {
    font-family: "Crimson Pro", serif;
    font-weight: 600;
    font-size: 3.2rem;

    margin-top: 1.2rem;
}

h4 {
    font-weight: 300;
    font-size: 1rem;
}

p {
    margin-top: 1.2rem;

    opacity: .67;
}

#btn-close, #animated {
    display: none;
}

#app {
    display: flex;
    align-items: center;
    gap: 6.3rem;
}

#product-image {
    position: relative;
}

#product-image button {
    position: absolute;

    right: 0;

    background-color: transparent;

    border: 0;

    cursor: pointer;
}

#product-image > img {
    width: 449px;
    height: 222px;

    object-fit: cover;
}

#product-details button {
    font-size: 12px;
    line-height: 16px;

    padding: 8px 16px;

    border: 0.5px solid var(--text-color);
    border-radius: 999px;

    background-color: transparent;

    margin-top: 20px;

    cursor: pointer;

    transition: background 200ms;
}

#product-details button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}