:root {
    --bg-color: #0f0d13;

    --gray-50: #e1e1e6;
    --gray-100: #d9d9d9;
    --gray-300: #c4c4cc;

    --purple-800: #2a2141;

    font-size: 62.5%; /* 1rem = 10px */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-color);
}

body * {
    font-family: "Roboto", sans-serif;
}

#app {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: "A B" "A C";
    place-content: center;
    gap: 3.2rem;

    height: 100vh;
}

#player-1 {
    grid-area: A;

    padding: 5rem 3.8rem;
}

#player-1 .wrapper {
    width: 19rem;
}

#player-1 img {
    width: 19rem;
    height: 19rem;
    
    object-fit: cover;

    border-radius: 6px;
}

#player-1 .info {
    margin-top: 2.8rem;
}

#player-2 {
    grid-area: B;

    height: fit-content;
}

#player-3 {
    grid-area: C;
}

.player {
    background-color: var(--purple-800);

    padding: 2.8rem;

    border-radius: 10px;
}

.player img {
    width: 8.4rem;
    height: 8.4rem;

    object-fit: cover;

    border-radius: 6px;
}

.info-wrapper {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.info {
    color: var(--gray-50);
}

.info strong {
    display: block;

    margin-bottom: .96rem;

    font-size: 2.5rem;
}

.info span {
    display: block;

    font-size: 19px;

    opacity: .67;
}

.horizontal .controls {
    padding-inline: 5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;
}

.controls img {
    width: 2.8rem !important;
    height: 2.8rem !important;
}

.track {
    margin-top: 2.8rem;

    position: relative;
}

.track::before {
    content: "";

    height: .6rem;
    width: 100%;

    display: block;

    background-color: var(--gray-100);

    opacity: .3;
    
    border-radius: 10px;

    position: absolute;
}

.track::after {
    content: "";

    height: .6rem;
    width: 80%;

    display: block;

    background-color: var(--gray-100);

    border-radius: 10px;
}

.time {
    font-size: 1.4rem;

    color: var(--gray-300);
    
    opacity: .7;

    display: flex;
    justify-content: space-between;

    margin-top: .96rem;
}

@media (max-width: 680px) {
    #app {
        display: flex;
        flex-direction: column;

        max-width: 27rem;
        height: auto;

        margin: auto;
        padding-block: 6rem;
    }

    .horizontal .controls {
        padding-inline: 3.2rem;
    }
}